<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Email request</title>
</head>
<body>
<div>Olá ${username},</div>
<br/>
<div>
    Recebemos um pedido para alterar o teu endereço de email. Clica no seguinte
    <a href="https://treapapp.ew.r.appspot.com/email/change/${verifyHash}">link</a>
    para proceder à alteração.
</div>
<br>
<div>
    A tua equipa, <br>
    Treap
</div>

</body>
</html>