<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password Email</title>
</head>
<body>
<div>Olá ${username},</div>
<br/>
<div>
    Recebemos um pedido para redefinir a tua palavra-passe. Clica no seguinte
    <a href="https://treapapp.ew.r.appspot.com/password/reset/${verifyHash}">link</a>
    para redefini-la.
</div>
<br/>
<div>Se não pediste para redefinir a tua palavra-passe, ignora este email.</div>
<br>
<div>
    A tua equipa, <br>
    Treap
</div>

</body>
</html>